* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Só diminuindo o tamanho mesmo */
  --text-color: #fff;
  --bg-url: url(./assets/bgMobBlack.jpg);
  --stroke-color: rgb(249, 138, 236);
  --surface-color: rgba(255, 255, 255, 0);
  --surface-color-hover: rgb(249, 138, 236);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-Stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bgMob.png);
  --stroke-color: rgba(236, 25, 225, 0.848);
  --surface-color: rgba(184, 77, 255, 0.47);
  --surface-color-hover: rgba(235, 87, 252, 0.757);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center / cover fixed;
}

/* Aplicando 100% no html tbm */
html,
body {
  /* Body e Elementos com fixed, sempre usar % em vez de vh */
  height: 100%;
}

body * {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  color: var(--text-color);
}

/* Só uma maneira diferente de fazer a msm coisa */
#container {
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;
  min-height: 100%;
  /* Flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* profile */
#profile {
  text-align: center;
}

#profile img {
  border-radius: 50%;
  width: 183px;
  /* Image se adaptar ao tamanho atual - quadrado */
  height: 183px;
  object-fit: cover;
  object-position: center;
}

#profile p {
  font-weight: 500;
  line-height: 1;
  margin-top: 4px;
}

/* switch */

/* Ajustando de acordo com a atualização do arquivo html */
#switch {
  position: relative;
  width: 64px;
  /* Removendo estilo padrão do botão */
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

#switch .button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 300ms;
  /* Adicionando animação no outline */
  outline: 8px solid transparent;
  transition: outline 300ms ease-out;
}

.light #switch .button {
  animation: slide-in 300ms forwards;
}

#switch .button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch .background {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */
/* Adicionando id pra manter o padrão das outras partes */
#links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

#links li a {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 4px;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 300ms ease-out, border-color 300ms ease-out,
    color 300ms ease-out;
}

#links li a i {
  position: relative;
  top: 0px;
  font-size: 20px;
  transition: color 300ms ease-out;
}

/* pseudo-selector */
#links li a:hover {
  background: var(--surface-color-hover);
  border-color: var(--text-color);
}

footer {
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
}

footer a {
  position: relative;
  top: 2px;
  display: inline-flex;
  align-items: center;
  gap: 2px;
  outline: none;
  text-decoration: none;
  transition: color 300ms ease-out;
}

footer a i {
  color: currentColor;
  position: relative;
  top: 1px;
}

footer a:hover {
  color: var(--stroke-color);
}

/* media queries */
@media (min-width: 700px) {
  :root {
    /* PS: Um fundo claro em dark theme não faz sentido nenhum */
    --bg-url: url(./assets/bgBlack.jpg);
  }

  .light {
    --bg-url: url(./assets/bg.jpg);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
